versions-model/xsd/rule-2.1.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 2.0.0,                                            -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="https://www.mojohaus.org/VERSIONS/RULE/2.1.0" targetNamespace="https://www.mojohaus.org/VERSIONS/RULE/2.1.0">
  <xs:element name="ruleset" type="RuleSet">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        Describes a set of rules for how versions of artifacts should be handled.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RuleSet">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        Describes a set of rules for how versions of artifacts should be handled.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="ignoreVersions">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Version patterns to ignore for all artifacts.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ignoreVersion" minOccurs="0" maxOccurs="unbounded" type="IgnoreVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="rules">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="rule" minOccurs="0" maxOccurs="unbounded" type="Rule"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="comparisonMethod" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">The comparison method to use when no rule matches.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IgnoreVersion">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">A version to ignore.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="type" type="xs:string" default="exact" use="optional">
          <xs:annotation>
            <xs:documentation source="version">2.0.0+</xs:documentation>
            <xs:documentation source="description">The type of ignore mechanism to use. Allowed values are &apos;exact&apos; and &apos;regex&apos;.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Rule">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
        Describes a rule for how versions of artifacts should be handled.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="ignoreVersions">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Version patterns to ignore for this rule.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ignoreVersion" minOccurs="0" maxOccurs="unbounded" type="IgnoreVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="groupId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">
            The for groupId to which this rule applies. Wildcards with ? and * are valid.
            A rule applies to all child groupIds unless overridden by a subsequent rule.
            A rule without wildcards will override a rule with wildcards.
            A rule with ? wildcards will override a rule with * wildcards.
          </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="artifactId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">
            The artifactId to which this rule applies. Wildcards with ? and * are valid.
            A rule without wildcards will override a rule with wildcards.
            A rule with ? wildcards will override a rule with * wildcards.
          </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comparisonMethod" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">The comparison method that this rule specifies.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>