versions-model-report/xsd/property-updates-report-2.0.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 2.1.2,                                            -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="https://www.mojohaus.org/VERSIONS/PROPERTY-UPDATES-REPORT/2.0.0" targetNamespace="https://www.mojohaus.org/VERSIONS/PROPERTY-UPDATES-REPORT/2.0.0">
  <xs:element name="PropertyUpdatesReport" type="PropertyUpdatesReport">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PropertyUpdatesReport">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="summary" type="PropertyReportSummary">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="properties">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="PropertyInfo" name="property" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="PropertyInfo">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="propertyName" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="propertyAssociations">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="PropertyAssociation" name="propertyAssociation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="currentVersion" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lastVersion" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="any">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="any" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="incrementals">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="incremental" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="minors">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="minor" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="majors">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="major" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="PropertyAssociation">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="groupId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="artifactId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="PropertyReportSummary">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="usingLastVersion" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nextVersionAvailable" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nextIncrementalAvailable" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nextMinorAvailable" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nextMajorAvailable" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>